{% extends "sprout-base-lists/_layouts/elementindex" %}

{% set title = "Subscribers"|t('sprout-base-lists') %}
{% set elementType = 'barrelstrength\\sproutbaselists\\elements\\Subscriber' %}

{% block actionButton %}
    <div class="buttons">
        <a class="btn submit add icon"
           href="{{ url('sprout-lists/subscribers/new') }}">{{ "Add Subscriber"|t('sprout-base-lists') }}</a>
    </div>
{% endblock %}

{% if listHandle is defined %}
    {% js %}
        window.defaultSectionHandle = '{{ listHandle }}';
    {% endjs %}
{% endif %}
