{% extends "sprout-base-lists/_layouts/elementindex" %}

{% set title = "Subscriber List"|t('sprout-base-lists') %}
{% set elementType = 'barrelstrength\\sproutbaselists\\elements\\SubscriberList' %}

{% block actionButton %}
    <div class="buttons">
        <a class="btn submit add icon"
           href="{{ url(pluginHandle ~ '/lists/new') }}">{{ "Add List"|t('sprout-base-lists') }}</a>
    </div>
{% endblock %}